legend {
    width: 50%;
}

.landing-bg {
    background: url("/images/mountW.png");
    background-size: cover;
    height: 400px;
}

.headTitle {
    font-weight: bold;
    margin-right: 25%;
}

#tours {
    display: none;
}